@import url("https://fonts.googleapis.com/css2?family=Inter:wght@350;600&display=swap");

* {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text);
  background-color: var(--background);
}

#grid-container {
  max-width: 810px;
  display: grid;
  grid-template-columns: repeat(27, minmax(30px, 1fr));
  grid-template-rows: repeat(8, 30px);
  row-gap: 1em;
  margin: 5em auto;
}

.h-index {
  grid-column: 4 / span 24;
  max-height: 30px;
}

.v-index {
  grid-column: 1/ 4;
  max-height: 30px;
  background-color: var(--background);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.grid-canvas {
  display: grid;
  grid-template-columns: repeat(27, minmax(30px, 1fr));
  grid-column: 1/ 28;
  max-height: 30px;
}

.task {
  fill: var(--primary-fill) !important;
  stroke: var(--primary-stroke) !important;
  stroke-width: 2;
}

.day {
  grid-column: 4/28;
}

.sleep {
  fill: #adc3cd;
}

.design {
  fill: #b4ca7d;
}

.coding {
  fill: #f5e1c3;
}

#input {
  background-color: #f7f7f7;
  display: block;
  margin: 5em auto;
  font-family: "Inter", sans-serif;
  font-weight: 350;
  color: var(--primary-text);
  font-size: 16px;
  outline: none;
  padding: 0.4em;
  padding-left: 0.7em;
  width: 45ch;
  border-width: 1px;
  border: 1px #1c1c1a solid;
  height: 1.5em;
}

#input:focus {
  background-color: var(--primary-text);
  color: var(--primary-text-invert);
}

:root {
  --primary-fill: #d32825;
  --primary-stroke: #d32825;
  --primary-text: #1c1c1a;
  --primary-text-invert: #f7f7f7;
  --input-background: #f7f7f7;
  --background: #ffffff;
}
